body {
  background-color: #05122d;
}

.App {
  text-align: center;
}

.welcome {
  margin: auto;
  width: 600px;
  height: 167.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #bccad0;
  border-radius: 5px;
  background-color: #e3e8ea;
}

.todo {
  color: white;
  background-color: #6fcb9f;
  width: 50%;
  transform: translate(50%);
  height: 50px;
  border: 1px solid #bbdecd;
  border-radius: 5px;
  margin-top: 5px;
}

.todoGroup {
  display: inline-block;
}